<h1>Tasks#show</h1>
<p>Find me in app/views/tasks/show.html.erb</p>

<h4><%= @task.name %></h4>
<p><%= @task.detail %></p>
<p><em><%= @task.who %></em></p>

<p><%= link_to 'Retour', '../index' %></p>
